html {
    background-color: black;
}





h1 {
    font-family: 'Bigshot One', cursive;
}

h1 {
    color:black;
    
    
    
}

h1 { text-align: center; }


h1 {
    font-size:60px;


}



h1 {
    background-color: midnightblue;
    background-size: 200px 200px;
    
    
    
}
    

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    transform: rotate(360deg);
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;